In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('E:\PESMCOE\PR\drug200.csv')
data

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [3]:
data.columns     #features

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [4]:
cat_cols=['Sex', 'BP', 'Cholesterol', 'Drug']
num_cols=['Age','Na_to_K']

In [5]:
from sklearn.preprocessing import LabelEncoder

l = LabelEncoder()
for i in cat_cols:
    data[i]=l.fit_transform(data[i])
data

     Age  Sex  BP  Cholesterol  Na_to_K  Drug
0     23    0   0            0   25.355     0
1     47    1   1            0   13.093     3
2     47    1   1            0   10.114     3
3     28    0   2            0    7.798     4
4     61    0   1            0   18.043     0
..   ...  ...  ..          ...      ...   ...
195   56    0   1            0   11.567     3
196   16    1   1            0   12.006     3
197   52    1   2            0    9.894     4
198   23    1   2            1   14.020     4
199   40    0   1            1   11.349     4

[200 rows x 6 columns]

In [6]:
from sklearn.model_selection import train_test_split
x = data.drop(["Drug"],axis=1)
y = data['Drug']

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 42, shuffle = True)

In [7]:
# trial
from sklearn.svm import SVC
svm = SVC()
svm.fit(x_train,y_train)

a=svm.score(x_test,y_test)
b=svm.score(x_train,y_train)
print('SVM Train Score is : ' , a)
print("===================================================")

print('SVM Test Score is : ' , b)
print("===================================================")

SVM Train Score is :  0.625
===================================================
SVM Test Score is :  0.725
===================================================

In [8]:
# trial
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train,y_train)
p=gnb.score(x_train,y_train)
q=gnb.score(x_test,y_test)

print('Gaussian Train Score is : ' , p)
print("===================================================")

print('Gaussian Test Score is : ' , q)
print("===================================================")

Gaussian Train Score is :  0.84375
===================================================
Gaussian Test Score is :  0.925
===================================================

In [9]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=3000)
lr.fit(x_train, y_train)

lr_train_score = lr.score(x_train, y_train)
lr_test_score= lr.score(x_test, y_test)

print('LogisticRegressionModel Train Score is : ' , lr_train_score)
print("===================================================")

print('LogisticRegressionModel Test Score is : ' , lr_test_score)
print("===================================================")

LogisticRegressionModel Train Score is :  0.96875
===================================================
LogisticRegressionModel Test Score is :  0.9
===================================================

In [10]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)

knn_train_score = knn.score(x_train, y_train)
knn_test_score= knn.score(x_test, y_test)

print('KNeighborsClassifier Train Score is : ' , knn_train_score)
print("===================================================")

print('KNeighborsClassifier Test Score is : ' , knn_test_score)
print("===================================================")

KNeighborsClassifier Train Score is :  0.81875
===================================================
KNeighborsClassifier Test Score is :  0.7
===================================================

In [11]:

from sklearn.naive_bayes import MultinomialNB
mnb=MultinomialNB()
mnb.fit(x_train, y_train)

mnb_train_score = mnb.score(x_train, y_train)
mnb_test_score= mnb.score(x_test, y_test)

print('Multinomial Train Score is : ' ,mnb_train_score )
print("===================================================")

print('Multinomial Test Score is : ' , mnb_test_score)
print("===================================================")

Multinomial Train Score is :  0.65625
===================================================
Multinomial Test Score is :  0.625
===================================================