In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('E:\PESMCOE\PR\drug200.csv')
data

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [3]:
data.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [5]:
data.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [6]:
data.shape

(200, 6)

In [7]:
data.describe().T.sort_values(ascending = 0,by = "mean").style.background_gradient(cmap = "BuGn")\
.bar(subset = ["std"], color ="red").bar(subset = ["mean"], color ="blue")

In [8]:
data.describe(include='object').T.sort_values(ascending = 0,by = "top").style.background_gradient(cmap = "BuGn")\
.bar(subset = ["freq"], color ="red").bar(subset = ["unique"], color ="blue")

In [9]:
print(data['Age'].nunique())
print(data['Age'].value_counts())

57
47    8
23    7
28    7
49    7
39    6
32    6
50    5
37    5
58    5
60    5
22    5
34    4
72    4
51    4
42    4
26    4
24    4
74    4
67    4
68    4
61    4
56    4
20    4
36    4
45    4
41    4
31    4
43    4
65    4
57    4
53    3
40    3
70    3
59    3
16    3
38    3
15    3
69    3
35    3
18    3
64    3
52    2
55    2
62    2
19    2
29    2
66    2
73    2
46    2
48    2
54    1
17    1
33    1
63    1
30    1
21    1
25    1
Name: Age, dtype: int64

In [10]:
print(data['Sex'].nunique())
print(data['Sex'].value_counts())

2
M    104
F     96
Name: Sex, dtype: int64

In [11]:
print(data['BP'].nunique())
print(data['BP'].value_counts())

3
HIGH      77
LOW       64
NORMAL    59
Name: BP, dtype: int64

In [12]:
print(data['Cholesterol'].nunique())
print(data['Cholesterol'].value_counts())

2
HIGH      103
NORMAL     97
Name: Cholesterol, dtype: int64

In [13]:
print(data['Na_to_K'].nunique())
print(data['Na_to_K'].value_counts())

198
12.006    2
18.295    2
25.355    1
11.939    1
16.347    1
         ..
24.658    1
24.276    1
13.967    1
19.675    1
11.349    1
Name: Na_to_K, Length: 198, dtype: int64

In [14]:
print(data['Drug'].nunique())
print(data['Drug'].value_counts())

5
DrugY    91
drugX    54
drugA    23
drugC    16
drugB    16
Name: Drug, dtype: int64

In [15]:
#conclusion

In [16]:
cat_cols=['Sex', 'BP', 'Cholesterol', 'Drug']
num_cols=['Age','Na_to_K']

In [17]:
from sklearn.preprocessing import LabelEncoder

l = LabelEncoder()
for i in cat_cols:
    data[i]=l.fit_transform(data[i])
data

     Age  Sex  BP  Cholesterol  Na_to_K  Drug
0     23    0   0            0   25.355     0
1     47    1   1            0   13.093     3
2     47    1   1            0   10.114     3
3     28    0   2            0    7.798     4
4     61    0   1            0   18.043     0
..   ...  ...  ..          ...      ...   ...
195   56    0   1            0   11.567     3
196   16    1   1            0   12.006     3
197   52    1   2            0    9.894     4
198   23    1   2            1   14.020     4
199   40    0   1            1   11.349     4

[200 rows x 6 columns]

In [18]:
from sklearn.model_selection import train_test_split
x = data.drop(["Drug"],axis=1)
y = data['Drug']

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 42, shuffle = True)

In [19]:
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
svm = SVC()
gnb = GaussianNB()

In [20]:
svm.fit(x_train,y_train)

SVC()

In [21]:
gnb.fit(x_train,y_train)

GaussianNB()

In [22]:
svm.score(x_test,y_test)

0.625

In [23]:
gnb.score(x_test,y_test)

0.925

In [24]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)

knn_train_score = knn.score(x_train, y_train)
knn_test_score= knn.score(x_test, y_test)

print('KNeighborsClassifier train Score is : ' , knn_train_score)
print("===================================================")

KNeighborsClassifier train Score is :  0.81875
===================================================

In [25]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=3000)
lr.fit(x_train, y_train)

lr_train_score = lr.score(x_train, y_train)
lr_test_score= lr.score(x_test, y_test)

print('LogisticRegressionModel Train Score is : ' , lr_train_score)
print("===================================================")

print('LogisticRegressionModel Test Score is : ' , lr_test_score)
print("===================================================")

LogisticRegressionModel Train Score is :  0.96875
===================================================
LogisticRegressionModel Test Score is :  0.9
===================================================

In [26]:
from sklearn.tree  import DecisionTreeClassifier
dt= DecisionTreeClassifier(max_features=5 , max_depth=5)
dt.fit(x_train, y_train)

dt_train_score = dt.score(x_train, y_train)
dt_test_score= dt.score(x_test, y_test)

print('DecisionTreeClassifier Train Score is : ' , dt_train_score)
print("===================================================")
print('DecisionTreeClassifier Test Score is : ' , dt_test_score)
print("===================================================")

DecisionTreeClassifier Train Score is :  1.0
===================================================
DecisionTreeClassifier Test Score is :  1.0
===================================================

In [27]:
from sklearn.ensemble import RandomForestClassifier
rf= RandomForestClassifier(max_features=5 , max_depth=5)
rf.fit(x_train, y_train)

rf_train_score = rf.score(x_train, y_train)
rf_test_score= rf.score(x_test, y_test)

print('RandomForestClassifier Train Score is : ' , rf_train_score)
print("===================================================")

print('RandomForestClassifier Test Score is : ' , rf_test_score)
print("===================================================")

RandomForestClassifier Train Score is :  1.0
===================================================
RandomForestClassifier Test Score is :  1.0
===================================================

In [28]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)

knn_train_score = knn.score(x_train, y_train)
knn_test_score= knn.score(x_test, y_test)

print('KNeighborsClassifier Train Score is : ' , knn_train_score)
print("===================================================")

print('KNeighborsClassifier Test Score is : ' , knn_test_score)
print("===================================================")

KNeighborsClassifier Train Score is :  0.81875
===================================================
KNeighborsClassifier Test Score is :  0.7
===================================================

In [29]:
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier()
gbc.fit(x_train, y_train)

gbc_train_score = gbc.score(x_train, y_train)
gbc_test_score= gbc.score(x_test, y_test)

print('GradientBoostingClassifier Train Score is : ' , gbc_train_score)
print("===================================================")

print('GradientBoostingClassifier Test Score is : ' , gbc_test_score)
print("===================================================")

GradientBoostingClassifier Train Score is :  1.0
===================================================
GradientBoostingClassifier Test Score is :  1.0
===================================================

In [41]:

from sklearn.naive_bayes import MultinomialNB
mnb=MultinomialNB()
mnb.fit(x_train, y_train)

mnb_train_score = mnb.score(x_train, y_train)
mnb_test_score= mnb.score(x_test, y_test)

print('Multinomial Train Score is : ' ,mnb_train_score )
print("===================================================")

print('Multinomial Test Score is : ' , mnb_test_score)
print("===================================================")

Multinomial Train Score is :  0.65625
===================================================
Multinomial Test Score is :  0.625
===================================================

In [37]:
# This dataset contains information about drug classification based on patient general information and its diagnosis. 
# Machine learning model is needed in order to predict the outcome of the drugs type that might be suitable for the patient.

In [ ]:
# The ML models I used in this project are:

# Linear Logistic Regression
# K-nearest Neighbours
# Decision Tree
# Random Forest
# About the dataset:

# Age: Age of patient
# Sex: Gender of patient
# BP: Blood pressure of patient
# Cholesterol: Cholesterol of patient
# Na_to_K: Sodium to Potassium Ratio in Blood
# Drug: Drug Type

# https://www.kaggle.com/code/deepshikha0105/drug-classification-ml/notebook